  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">{{site.id}}</a></h1>
      <a href="/" class="logo me-auto me-lg-0"><img src="/assets/img/logo-header.svg" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0" :class="{'navbar-mobile': mobile_navbar_open}">
        <ul>

  {% for item in site.data.navigation %}
  <li><a class="nav-link scrollto " href="{{ item.link }}" @click="close_mobile_menu" {% if page.url == item.link %}style="color: #ffc451;"{% endif %}>{{ item.name }}</a></li>
  {% endfor %}

          <li>
            <form @submit.prevent="search">
              <input class="form-control form-control-sm ms-2 scrollto" type="text" v-model="search_criteria" placeholder="search" aria-label="search">
            </form>
          </li>

        </ul>

        <i class="bi mobile-nav-toggle" :class="{'bi-list': !mobile_navbar_open, 'bi-x': mobile_navbar_open}" @click="toggle_mobile_menu"></i>
      </nav>

    </div>
  </header>

  <!-- toast -->

  <div class="toast-container position-fixed top-50 start-50 translate-middle">
    <div id="ToastId" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1500">
      <div class="toast-header">
        <img src="/assets/img/logo-round.svg" class="rounded me-2 toast-logo" alt="toast image">
        <strong id="toast-title" class="me-auto"></strong>
        <small id="toast-small"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div id="toast-msg" class="toast-body"></div>
    </div>
  </div>

  <!-- search results modal -->

  <div id="searchResultsModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Search results: {% raw %}{{ num_search_results }}{% endraw %}</h5>
        </div>
        <div class="modal-body">
          <div class="row" v-for="a in search_results">
             <p><a :href="{% raw %}a.url{% endraw %}"><span v-html="a.title"></span></a></p>
             <p><span v-html="a.body"></span></a></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
